{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block title %} <title>SIGFE-Listado de Computadoras</title> {% endblock %}
</head>

<body>
    {% block contenido %}
    <div class="main-panel">
        <div class="content">
            <div class="panel-header "  style="background-color:#1d4e82">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h1 class="text-white pb-2 fw-bold">Componentes de las Computadoras de la empresa</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner mt--5">
                <div class="col-md-12">
                    {% if messages %}
                    <div class="alert alert-success" id="alert-success">
                        <ul class="lista-mensajes">
                            {% for message in messages %}
                                <li  {% if message.tags %}  {% endif %}>{{message}}</li>
                            {%endfor%}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </ul>   
                    </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header"
                        style="background-color:#6c757d;;;
                        border-bottom: none !important;
                        border-radius:9px 9px 0px 0px">
                            <div class="d-flex align-items-center ">
                                <h4 class="card-title"
                                    style="font-size:16px;
                                    color:#fff;"><i class="fas fa-list-ul"  style="margin-right:5px"></i>
                                    Registros de Componentes de la  Computadoras
                                </h4>
                            </div>
                        </div>
                        <div class="btn ml-auto d-flex  justify-content-between" style="background-color:#f8f9fa;width:100%;border-radius:none !important">
                            <div>
                                <a href="{% url 'lista_computadoras_work'  %}"  
                                class="btn btn-info " style="color:#fff" >
                                    <i class="fas fa-archive" style="margin-right:5px"></i>Word
                                </a>
                                <a href="{% url 'lista_pdf_computadoras'  %}"  class="btn btn-danger " style="color:#fff" ><i class="fa fa-print" style="margin-right:5px"></i>Print</a>
                               
                            </div>
                            <div>
                                <a href="{% url 'crear_computadora'  %}"  class="btn btn-success "   style="color:#fff;background:#28a745 !important" >
                                    <i class="fas fa-plus-circle"></i>
                                    Agregar
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="GET" action="" class="mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="search" placeholder="Buscar por departamento o marca" value="{{ search }}">
                                                <button class="btn btn-outline-secondary " type="submit" ><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <label for="page_size" class="col-form-label">Componentes por página:</label>
                                        </div>
                                        <div class="col-auto">
                                            <select name="page_size" id="page_size" class="form-select">
                                                <option value="10" {% if page_size == '10' %}selected{% endif %}>10</option>
                                                <option value="25" {% if page_size == '25' %}selected{% endif %}>25</option>
                                                <option value="50" {% if page_size == '50' %}selected{% endif %}>50</option>
                                                <option value="100" {% if page_size == '100' %}selected{% endif %}>100</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
                                        </div>
                                    </div>
                                </form>
                                
                                <table id="add-row" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Componente</th>
                                            <th># Inventario</th>
                                            <th>Marca</th>
                                            <th>Estado</th>
                                            <th># <i class="fa fa-desktop"></i></th>
                                            <th>Depart <i class="fas fa-building"></i></th>
                                            <th style="width: 10%">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for computadora in page_obj %}
                                        <tr>
                                            <td>{{ computadora.componente_pc }}</td>
                                            <td>{{ computadora.num_inventario }}</td>
                                            <td style="color:#48abf7 !important">{{ computadora.marca }}</td>
                                            <td>{{ computadora.estado }}</td>
                                            <td>{{ computadora.numero_pc }}</td>
                                            <td>{{ computadora.departamento }}</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a type="button" href="{% url 'editar_computadora' computadora.id  %}"
                                                    class="btn btn-primary btn-sm" >
                                                        <i class="fa fa-edit"></i>Editar
                                                    </a>
                                                    <button type="button" data-toggle="modal" title=""
                                                         class="btn btn-danger btn-sm"
                                                        data-target="#eliminarModal {{ computadora.id }}" style="margin-left:5px">
                                                        <i class="fa fa-trash"></i> Eliminar
                                                    </button>
                                                    <!-- Modal de Confirmación de Eliminación -->
                                                    <div class="modal fade" id="eliminarModal {{ computadora.id }}"
                                                        tabindex="-1" role="dialog"
                                                        aria-labelledby="eliminarModalLabel {{ computadora.id }}"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="eliminarModalLabel {{ computadora.id }}">
                                                                        Confirmar Eliminación</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    ¿Estás seguro que deseas eliminar esta computadora
                                                                    <strong>{{ computadora.numero_pc }} </strong>?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Cancelar</button>
                                                                    <form action="{% url 'eliminar_computadora' computadora.id  %}"
                                                                        method="delete">
                                                                        {% csrf_token %}
                                                                        <input type="submit" class="btn btn-danger"
                                                                            value="Eliminar" >
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Paginación">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1&page_size={{ page_size }}" aria-label="Primera">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&page_size={{ page_size }}" aria-label="Anterior">
                                                    <span aria-hidden="true">&lsaquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&laquo;</span>
                                            </li>
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&lsaquo;</span>
                                            </li>
                                        {% endif %}
                                
                                        {% for i in page_obj.paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link">
                                                        {{ i }}
                                                        <span class="visually-hidden">(actual)</span>
                                                    </span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}&page_size={{ page_size }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&page_size={{ page_size }}" aria-label="Siguiente">
                                                    <span aria-hidden="true">&rsaquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&page_size={{ page_size }}" aria-label="Última">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&rsaquo;</span>
                                            </li>
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&raquo;</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %} {{ block.super }} {% endblock %}
    </div>
    {% endblock %}
    {% block javascript %} {{ block.super }} {% endblock %}
</body>

</html>