{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block title %} <title>Editar-editar departamento</title> {% endblock %}
</head>

<body>
    {% block contenido %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner mt--5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Editar Departamento</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    {{error}}
                                    <form action="" method="POST" style="min-width:300px" >
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button class="btn btn-primary">Actualizar</button>
                                    </form>
                                <div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %} {{ block.super }} {% endblock %}
    </div>
    {% endblock %}
    {% block javascript %} {{ block.super }} {% endblock %}
</body>

</html>